{% extends "layout/base.html" %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container mx-auto">
    
    <div class="columns">
        
        {% include 'admin/admin_sidemenu.html' %}

        <div class="column is-three-quarters">
            <div class="panel">
                <p class="panel-heading">Administration</p>
                <div class="box">
                    <div class="content">
                        <span class="title">Welcome {{ session.username }}</span> 
                    </div>
                </div>
            </div>
            <div class="panel">
                <p class="panel-heading">Site-Stats</p>
                <div class="box">                    
                    <div class="content">                        
                        <div class="columns">
                            <div class="column is-4">Registered Users:</div>
                            <div class="column is-8 has-text-right"><b>{{ userCount }}</b></div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">Latest User:</div>
                            <div class="column is-8 has-text-right"><b>{{ latestUser }}</b></div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">Articles in Warehouses:</div>
                            <div class="column is-8 has-text-right"><b>{{ articleCount }}</b></div>
                        </div>
                        <div class="columns">
                            <div class="column is-4">Latest Article:</div>
                            <div class="column is-8 has-text-right"><b>{{ latestArticle }}</b></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %} 
<script>

</script>
{% endblock %}
