{% extends "layout/base.html" %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container mx-auto">
    
    <div class="columns">
        
        {% include 'admin/admin_sidemenu.html' %}

        <div class="column is-three-quarters">
            
            <div class="panel">
                <p class="panel-heading">User-Management</p>
                <div class="box">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="5%" class="has-text-centered">ID</th>
                                <th width="35%">Username</th>
                                <th width="45%">E-Mail</th>
                                <th width="5%" class="has-text-centered">Role</th>
                                <th width="5%"><i class="fas fa-pen-to-square"></i></th>
                                <th width="5%"><i class="fas fa-xmark"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="has-text-centered">{{ user.userID }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td class="has-text-centered">
                                    {{ user.rolename }}
                                </td>
                                <td><a href="{{ basePath }}/admin/users/edit/{{ user.userID }}"><i class="fas fa-pen-to-square"></i></a></td>
                                <td><a href="{{ basePath }}/admin/users/delete/{{ user.userID }}"><i class="fas fa-xmark"></i></a></td>                         
                            </tr>
                            {% endfor %}
                        </tbody>                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %} 
<script>

</script>
{% endblock %}
