{% if messages %}
    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Error</p>
                <a class="delete" aria-label="close" id="close"></a>
            </header>
            <section class="modal-card-body">
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
            </section>
            <footer class="modal-card-foot">
                <a class="button" id="close2">Close</a>
            </footer>
        </div>
    </div>
    
    <script>

        document.addEventListener('DOMContentLoaded', () => {
                
            document.getElementById('modal').classList.add('is-active');

            document.getElementById('close').addEventListener('click', () => { 
                document.getElementById('modal').classList.remove('is-active');
            });

            document.getElementById('close2').addEventListener('click', () => { 
                document.getElementById('modal').classList.remove('is-active');
            });
                
                
                
        });

    </script>

{% endif %}
