{% extends "layout/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %} 
{% if messages %}
    {% include 'errors/modal.html' %}
{% endif %}
<div class="container mx-auto" style="padding-top: 100px;">
    <div class="columns is-centered">
        <div class="column is-half"><h1 class="title">Register a new user</h1></div>
    </div>
    <div class="columns is-centered">
        
        <div class="column is-half">            

            <form class="box" action="{{ basePath }}/register" method="post">                

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Your username" name="username">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="e.g. alex@example.com" name="email">
                    </div>
                </div>
            
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********" name="password">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Re-type password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********" name="password_repeat">
                    </div>
                </div>
            
                <button class="button is-primary">Sign up</button>

            </form>

        </div>

    </div>
    
</div>
{% endblock %}

{% block js %} 
    {% if messages %}
        <script>

            document.addEventListener('DOMContentLoaded', () => {
                
                document.getElementById('modal').classList.add('is-active');

                document.getElementById('close').addEventListener('click', () => { 
                    document.getElementById('modal').classList.remove('is-active');
                });

                document.getElementById('close2').addEventListener('click', () => { 
                    document.getElementById('modal').classList.remove('is-active');
                });
                 
            });

        </script>
    {% endif %}
{% endblock %}