{% extends "layout/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %} 
<div class="container mx-auto" style="padding-top: 100px;">
    <div class="columns is-centered">
        <div class="column is-half"><h1 class="title">Register a new user</h1></div>
    </div>
    <div class="columns is-centered">
        
        <div class="column is-half">            

            <form class="box" action="{{ basePath }}/register" method="post">

                {% if messages %}
                <div class="modal is-danger" id="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Error</p>
                            <a class="delete" aria-label="close" id="close"></a>
                        </header>
                        <section class="modal-card-body">
                            {% for msg in messages %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                        </section>
                        <footer class="modal-card-foot">
                            <a class="button" id="close2">Close</a>
                        </footer>
                    </div>
                  </div>
                {% endif %}

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Your username" name="username">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="e.g. alex@example.com" name="email">
                    </div>
                </div>
            
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********" name="password">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Re-type password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********" name="password_repeat">
                    </div>
                </div>
            
                <button class="button is-primary">Sign up</button>

            </form>

        </div>

    </div>
    
</div>
{% endblock %}

{% block js %} 
    {% if messages %}
        <script>

            document.addEventListener('DOMContentLoaded', () => {
                
                document.getElementById('modal').classList.add('is-active');

                document.getElementById('close').addEventListener('click', () => { 
                    document.getElementById('modal').classList.remove('is-active');
                });

                document.getElementById('close2').addEventListener('click', () => { 
                    document.getElementById('modal').classList.remove('is-active');
                });
                 
            });

        </script>
    {% endif %}
{% endblock %}